$baseColor1: #FFDE00;
$baseColor2: adjust_hue($baseColor1, 180deg);
$color1: mix($baseColor1, $baseColor2, 5%);
$color2: mix($baseColor2, $baseColor1, 5%);

$backgroundColor: darken(mix($color1, $color2, 45%), 40%);
$textColor: lighten(mix($color1, $color2, 55%), 40%);
$menuColor: mix($color2, $color1, 25%);
$menuHoverColor: mix($color1, $color2, 25%);
$menuActiveColor: mix($color1, $color2, 15%);

* { box-sizing: border-box; }
html, body, h1, h2, h3, h4, h5, h6, div, p, ul, li, blockquote {
  display: block; margin: 0; padding: 0; font-size: 100%;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

a {
  color: $menuColor;
  text-decoration: none;

  &:hover {
    color: $menuHoverColor;
    text-decoration: underline;
  }
}

html, body {
  min-height: 100vh;
  background-color: $backgroundColor;
  color: $textColor;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 100%;
}

header {
  width: 960px;
  margin: auto;
  padding: 2vh 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  h1 {
    font-size: 5vh;

    & a {
      color: $textColor;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    li {

      border-bottom: 3px solid $menuColor;
      min-width: 5vw;
      margin: 0 2vw;

      &.active {
        border-color: $menuActiveColor;

        & a {
          color: $menuActiveColor;
          text-decoration: none;
        }
      }

      &:last-of-type {
        margin-right: 0;
      }

      &:first-of-type {
        margin-left: 0;
      }

      a {
        color: $menuColor;
        text-decoration: none;
      }

      &:hover {
        border-color: $menuHoverColor;

        a {
          color: $menuHoverColor;
        }
      }
    }
  }
}

#container {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  margin: auto;
  width: 960px;
}

.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px; /* ?? */
  height: 0;
}

.video iframe {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.description {
  width: 960px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  line-height: 1.5em;
}

.summary {
  font-size: 2.5vh;
}

.credit-name {
  font-size: 2.5vh;
  text-decoration: none;
  font-variant: all-small-caps;
  color: $menuColor;
  &:hover {
    color: $menuHoverColor;
    text-decoration: underline;
  }
}

.credit-role {
  font-size: 2vh;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1vh 0;

  li {
    padding: 0 1vw;

    a {
      text-decoration: none;
    }

    &.disabled a {
      color: lighten($backgroundColor, 25%);
      cursor: default;
    }

    &.active a {
      color: $menuActiveColor;
    }
  }
}