{{ partial "header.html" . }}
<section class="section-films">
    <header class="large-header"><h1>Casting Calls</h1></header>
    <!-- Open Casting Calls -->
    <article class="open-casting"><ul>
    {{ range (where .Data.Pages "Params.castingstatus" "open") }}
            <li class="casting-entry"><a href="{{ .Permalink }}" class="casting-header">
                <span class="casting-title">{{ .Title }}</span></a>
                <span class="casting-deadline"> audition deadline: {{ dateFormat "02 Jan 2006" .Params.deadline }}</span>
            </li>
    {{ end }}
    </ul></article>
</section>
{{ partial "footer.html" . }}