{{ partial "header.html" . }}
<section class="section-films">
    <header class="large-header"><h1>Casting Calls</h1></header>
    <!-- Open Casting Calls -->
    {{ range (where .Data.Pages "Params.castingstatus" "open") }}
        <article class="open-casting"><h2>Open Castings</h2>
            <li class="casting-entry"><a href="{{ .URL }}" class="casting-header">
                <span class="casting-title">{{ .Title }}</span></a>
                <span class="casting-deadline"> audition deadline: {{ dateFormat "02 Jan 2006" .Params.deadline }}</span>
            </li>
        </article>
    {{ end }}
</section>
{{ partial "footer.html" . }}